* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EDE9F2;

}

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    z-index: 9999999;
    position: fixed;
    top: 0;
    width: 100%;
}

.topLeft {
    display: flex;
    margin-left: 2rem;
}

.topMiddle {

    display: flex;
}

.topRight {
    display: flex;
    justify-content: space-between;
}

.logoImg>img {
    width: 30;
    height: 34px;
}

.dashboardText {
    color: #214873
}



.smartLog>img {
    height: 50px;
    width: 50px;
}


.topSideBar {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.smartLogText {
    color: #ffffff;
}

.topIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.navWrapper {
    display: flex;
    margin: 0 0 1.5rem 0;
    position: relative;
}

.icons {
    margin: 0 1rem 0 0;
}

.dropMenu ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a li {
    color: #000;
}

ul li {
    font-weight: bold;
    margin-bottom: 5px;
}

.dropMenu {
    display: none;
}

.toggleMenu {
    display: block;
}

.navWrapper {
    color: #ffffff;
    cursor: pointer;
}

.downIconArrow,
.upIconArrow {
    position: absolute;
    right: 3%;
    top: 20%;
}

.upIconArrow {
    display: none;
}


.navWrapper:hover {
    color: #000;
    font-weight: bold;
    background: #ffffff;
    padding: 3px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.eachContainer {
    background: #ffffff;
    border-radius: 10px;
    position: relative;
    margin-bottom: 2.5rem;
}

.textWrapper{
    margin-top: 2.5rem;
}
.iconContainer {
    position: absolute;
    height: 55px;
    width: 60px;
    background: #03658C;
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.smartLogHistory {
    position: relative;
}

.registrationHistory {
    background: #ffffff;
    padding: 15px;
    height: 350px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.chartHeader {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


input[type="date"] {
    color: #214873;
    font-weight: bold;
    border: 1px solid #03658C;
    outline: none;
}

.latestRegistration {
    background: #ffffff;
    overflow-y: auto;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.latestRegistration::-webkit-scrollbar {
    display: none;
}


.headerReg {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.view {
    color: #214873;
    cursor: pointer;
}


.userImg {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    object-fit: cover;
}

.userImg>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.latestUser {
    display: flex;
    justify-content: space-evenly;
}

.userDetails {
    display: flex;
    flex-direction: column;
}


.profile {
    cursor: pointer;
}

.profileInfo {
    position: absolute;
    right: 0.5%;
    top: 8%;
    background: #ffffff;
    z-index: 1;
    display: none;
}

.profileInfo a {
    color: #03658C;
}

.showProfile {
    display: block;
}

.announcementPopUp {
    position: absolute;
    right: 11%;
    top: 8%;
    z-index: 1;
    background: #ffffff;
    width: 16rem;
    display: none;
}

.smartLogLogo {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 2px;
}

.smartLogLogo>img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.headerPop {
    display: flex;
    justify-content: space-between;
}

.latestAnnouncement {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.viewAllAnnouncement {
    color: #214873;
    cursor: pointer;
}

.announcementBtn {
    cursor: pointer;
}

.showAnnouncement {
    display: block;
}

.sideBarContents{
    padding-left:1rem ;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 3%;
    left: 0;
    background-color: #03658C;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  .main {
    margin-left: 250px;
    padding: 0px 10px;
    margin-top: 5rem;
  }
  
.sideBarBtn{
    padding-left: 2rem;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: none;
}



@media all and (max-width:620px) {
    .topMiddle {
        display: none;
    }

    .topRight{
        margin-right: 3rem;
    }
}


@media all and (max-width:768px) {
    .topMiddle {
        display: none;
    }

   
}

@media all and (max-width:1024px){
    .sidenav{
        width: 80px;
    }
    .main{
        margin-left: 80px;
    }

    .sideBarText{
        display: none;
    }
    .topSideBar{
        display: none;
    }

    .sideBarBtn{
        display: block;
    }

    .showFullSideBar{
        width: 250px;
    }

    .showSideBarText{
        display: block;
    }
}



