* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EDE9F2;

}


.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
  }
  
  .topLeft {
    display: flex;
    margin-left: 2rem;
  }
  
  .topMiddle {
  
    display: flex;
  }
  
  .topRight {
    display: flex;
    justify-content: space-between;
  }

.logoImg>img {
    width: 30;
    height: 34px;
}


.profileText {
    color: #214873
}

.sideBar {
    background: #214873;
    padding: 15px 0 15px 15px;
    height: 100vh;
}



.smartLog>img {
    height: 50px;
    width: 50px;
}

.topSideBar {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.smartLogText {
    color: #ffffff;
}

.topIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.navWrapper {
    display: flex;
    margin: 0 0 2rem 0;
    position: relative;
}

.icons {
    margin: 0 1rem 0 0;
}

.icons>img {
    width: 15px;
    height: 15px;
}

.dropMenu {
    display: none;
}

.toggleMenu {
    display: block;
}

.navWrapper {
    color: #ffffff;
    cursor: pointer;
}

.downIconArrow,
.upIconArrow {
    position: absolute;
    right: 3%;
}

.upIconArrow {
    display: none;
}

.dropMenu ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a li {
    color: #000;
}

ul li {
    font-weight: bold;
    margin-bottom: 5px;
}

.navWrapper:hover {
    color: #000;
    font-weight: bold;
    background: #ffffff;
    padding: 3px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.profile {
    cursor: pointer;
}

.profileInfo {
    position: absolute;
    right: 2%;
    background: #ffffff;
    z-index: 1;
    display: none;
}

.profileInfo a {
    color: #03658C;
}

.showProfile {
    display: block;
}

.announcementPopUp {
    position: absolute;
    right: 15%;
    z-index: 1;
    background: #ffffff;
    width: 16rem;
    display: none;
}

.smartLogLogo {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 2px;
}

.smartLogLogo>img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.headerPop {
    display: flex;
    justify-content: space-between;
}

.latestAnnouncement {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.viewAllAnnouncement {
    color: #214873;
    cursor: pointer;
}

.announcementBtn {
    cursor: pointer;
}

.showAnnouncement {
    display: block;
}

.topProfileContainer{
    display: flex;
}

.userDetails{
width: 10rem;
background: #03658C;
color: #ffffff;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
cursor: pointer;
border: 1px solid #03658C;
}

.loginDetails{
width: 10rem;
border:1px solid #03658C;
color: #03658C;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
cursor: pointer;
}



.updateForm{
    background-color: #ffffff;
    border-radius: 5px;
}

label{
    font-weight: bold;
}

.updateUserDetail{
    border: none;
    outline: none;
    border-radius: 5px;
    background: #03658C;
    color: #ffffff;
}

.profileSetUp{
    background: #ffffff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 21rem;
}

.choosePhoto{
    border: 1px solid #03658C;
    width: 85%;
    color: #03658C;
    border-radius: 5px;
    cursor: pointer;
}

.profileImage{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

.profileImage>img{
    width: 100%;
    height: 100%;
}

input,
select {
    box-shadow: 2px 2px 3px 1px #bdb8b8;
}


.sideBarContents{
    padding-left:1rem ;
  }
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 3%;
    left: 0;
    background-color: #03658C;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  .main {
    margin-left: 250px;
    padding: 0px 10px;
    margin-top: 5rem;
  }
  
  .sideBarBtn{
    padding-left: 2rem;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: none;
  }
  
  



@media all and (max-width:620px){
    .topMiddle{
        display: none;
    }
}


@media all and (max-width:768px){
    .topMiddle{
        display: none;
    }
}

@media all and (max-width:495px){
    .userDetails,
    .loginDetails{
        width: 7rem;
    }
}





@media all and (max-width:1024px){
    .sidenav{
        width: 80px;
    }
    .main{
        margin-left: 80px;
    }
  
    .sideBarText{
        display: none;
    }
    .topSideBar{
        display: none;
    }
  
    .sideBarBtn{
        display: block;
    }
  
    .showFullSideBar{
        width: 250px;
    }
  
    .showSideBarText{
        display: inline-block;
    }
  }
  