* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #EDE9F2;

}


.topNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20;
}

.topLeft{
    display: flex;
    margin-left: 2rem;
}
.topMiddle{

display: flex;
}

.topRight{
    display: flex;
    justify-content: space-between;
}

.logoImg>img{
    width: 30;
    height: 34px;
}

.userText {
    color: #03658C;
}

.dashboardText {
    color: #214873
}

.sideBar {
    background: #214873;
    padding: 15px 0 15px 15px;
}

.smartLog>img {
    height: 50px;
    width: 50px;
}

.topSideBar {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.smartLogText {
    color: #ffffff;
}

.topIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}


.navWrapper {
    display: flex;
    margin: 0 0 2rem 0;
    position: relative;
}

.icons {
    margin: 0 1rem 0 0;
}

.icons>img {
    width: 15px;
    height: 15px;
}

.dropMenu {
    display: none;
}

.toggleMenu {
    display: block;
}

.navWrapper {
    color: #ffffff;
    cursor: pointer;
}

.downIconArrow,
.upIconArrow {
    position: absolute;
    right: 3%;
}

.upIconArrow {
    display: none;
}

.dropMenu ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a li {
    color: #000;
}

ul li {
    font-weight: bold;
    margin-bottom: 5px;
}

.navWrapper:hover {
    color: #000;
    font-weight: bold;
    background: #ffffff;
    padding: 3px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
}

.hide {
    display: none;
}

.show {
    display: block;
}


.topSearchContainer {
    display: flex;
}

#basic-addon1{
    background: #03658C;
    color: #ffffff;
}

.selectCont select {
    width: 8rem;
    height: 2.3rem;
    border: none;
    outline: none;
    border-radius: 5px;
}


.addUserButton {
    height: 2.3rem;
    background: #214873;
    display: flex;
    width: 9rem;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 5px;
}

.table {
    background: #ffffff;
}


.imgCont {
    height: 30px;
    min-width: 30px;
    border-radius: 50%;
}

.imgCont>span>img {
    min-width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.imgContText {
    min-width: max-content;
}

.nameAndImage {
    display: flex;
}

.statusActive {
    background: #55B262;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    width: 7rem;
    cursor: pointer;
}

.edit {
    color: #03658C;
    cursor: pointer;
}

.delete {
    color: #D97823;
    cursor: pointer;
}

.statusBanned {
    background: #E62E2d;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    width: 7rem;
    cursor: pointer;
}

.statusUnconfirmed {
    background: #D97823;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    width: 7rem;
    cursor: pointer;
}

tr {
    border-bottom-width: 6px;
}

tr:nth-child(8) {
    border-bottom-width: 0;
}

.table {
    border-radius: 20px;
}

.contents {
    position: relative;
}


.navigation {
 display: flex;
 justify-content: flex-end;
}

span.current {
    display: inline-block;
    border: 2px solid #03658C;
    width: 4rem;
    height: 1.7rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.total {
    display: inline-block;
}

.navigators {
    display: inline-block;
    color: #ffffff;
    background: #03658C;
    width: 4rem;
    height: 1.7rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.formContainer,
.loginFormDetails {
    border: 1px solid #808080;
    border-radius: 10px;
}

.formContainer h1 {
    font-size: 1.3rem;
}

.formContainer input,
select {
    box-shadow: 2px 2px 3px 1px #bdb8b8;
}

.loginFormDetails h1 {
    font-size: 1.3rem;
}

.loginFormDetails input {
    box-shadow: 2px 2px 3px 1px #bdb8b8;
}


.createUser {
    height: 2.3rem;
    width: 8rem;
    background: #03658C;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 6px;
}

.profile{
    cursor: pointer;
}

.profileInfo{
   position: absolute;
   right: 0.5%;
   background: #ffffff;
   z-index: 1;
   display: none;
}

.profileInfo a{
color: #03658C;
}

.showProfile{
    display: block;
}

.announcementPopUp{
    position: absolute;
    right: 11%;
    z-index: 1;
    background: #ffffff;
    width: 16rem;
    display: none;
}

.smartLogLogo{
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 2px;
}

.smartLogLogo>img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.headerPop{
display: flex;
justify-content: space-between;
}

.latestAnnouncement{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.viewAllAnnouncement{
    color: #214873;
    cursor: pointer;
}

.announcementBtn{
    cursor: pointer;
}

.showAnnouncement{
    display: block;
}



.sideBarContents{
    padding-left:1rem ;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 3%;
    left: 0;
    background-color: #03658C;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  
  .main {
    margin-left: 250px;
    padding: 0px 10px;
    margin-top: 5rem;
  }
  
.sideBarBtn{
    padding-left: 2rem;
    color: #ffffff;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    display: none;
}





@media all and (max-width:620px){
    .topMiddle{
        display: none;
    }
}


@media all and (max-width:768px){
    .topMiddle{
        display: none;
    }
}



@media all and (max-width:1024px){
    .sidenav{
        width: 80px;
    }
    .main{
        margin-left: 80px;
    }

    .sideBarText{
        display: none;
    }
    .topSideBar{
        display: none;
    }

    .sideBarBtn{
        display: block;
    }

    .showFullSideBar{
        width: 250px;
    }

    .showSideBarText{
        display: block;
    }
}



